body {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

main p {
    color: rgb(255, 255, 255);
}

.question {
    margin: 20px;
    padding: 0;
    width: 500px;
    height: 250px;
    background-color: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.question::before,
.question::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #ff0000, #00f0f0, #00ff00, #0000ff, #ff0000, #00f0f0, #00ff00, #0000ff, #f00f0f);
    width: 100%;
    height: 100%;
    background-size: 500%;
    z-index: -1;
    transform: scale(1.02);
    animation: animate 20s infinite;
}

.question::after {
    filter: blur(20px);
}

@keyframes animate {
    0% { background-position: 0 0; }
    50% { background-position: 300% 0; }
    100% { background-position: 0 0; }
}

#subFinal {
    visibility: hidden;
}

#q1 {
    visibility: visible;
}