body {
    width: 100%;
    background-color: black;
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
}

main p {
    color: black;
}

.question {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 25%;
    height: 150px;
    border: rgb(160, 0, 0) solid 5px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    color: black;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#subFinal {
    visibility: hidden;
}

#q1 {
    visibility: visible;
}